
/* Page entière*/

@font-face
{
    font-family:"Raleway-Bold";
    src:url("Raleway-ExtraBold.ttf");  
}

@font-face
{
    font-family:"Raleway";
    src:url("Raleway-Regular.ttf");   
}




body
{
    font-family:"Raleway",Arial, sans-serif;
	margin:30px;
}

h1
{
    font-size:25px;
    font-weight: bold;
    color:black;
    font-family: "Raleway-Bold", Impact;      

}

h2, nav
{
    font-size: 18px;      
}

h3
{
    font-size: 16px;
    font-weight: bold;
    color:black;
}

p
{
    font-size: 14px;
}

#bloc_page
{
    width: 100%;
    margin-right: 2px;
	margin-left: 2px;
}

a
{
    text-decoration: none;    
}


/* En tête */

header
{
	display: flex;
	width: 100%;
	justify-content: space-between;
}


nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    padding:20px;
	
    
}

nav a
{
    text-decoration: none; 
	color: black;
}

.texte-bleu
{
	color:#0065FC;
}

#trait
{
border-top: solid 3px #0065FC;
padding-top:25px;
}

.barre-recherche
{
  	display: flex;
  	align-items: flex-start;
  	justify-content: flex-start;
}


#mapmarker
{ 
	  display: flex;
	  background-color: #F2F2F2 ;
	  height: 40px;
	  width: 40px;
	  border-radius: 15px 0px 0px 15px;
	  justify-content: center;
	  align-items: center;
}


#bouton-bleu
{
    border-radius:0px 15px 15px 0px;
	border:none;
    background-color: #0065FC;
	height: 40px;
    color:white;
    padding:0px 12px 0px 12px;   
}

#text
{
	height: 35px;
	border:solid 1px #F2F2F2;

}


.filtres
{
	display: flex;
	margin-top:30px;
	width: 70%;
	justify-content: space-between;
}


.bloc-filtre
{
	display: flex;
	justify-content: space-between;
	height: 40px;
	border:#F2F2F2 solid 2px;
	border-radius: 50px;
	font-weight: bold;
	
}

.texte-filtre
{
padding-right:10px;	
padding-left: 10px;
	
	
}

.bloc-filtre:hover
{
	border:#0065FC solid 4px;
	
}


.logo-filtre
{
display: flex;
border-radius:50px;	
background-color: #DEEBFF;
padding:5px;
height: 30px;
width: 30px;
align-items: center;
justify-content: center;
color:#0065FC;
}

#nbr-dispos
{
	display: flex;
	width: 32%;
	justify-content: space-between;
	margin-top:30px;

}
#logo-i
{
color: 	#0065FC;
border:#F2F2F2 solid 2px;
border-radius: 60px;
height: 8px;
width: 8px;
display: flex;
align-items: center;
justify-content: center;	
padding: 10px;


}


/* contenu principal */

.hebergements
{
    display : flex; 
    height: 600px; 
    width: 100%;
}

.hebergements-resultats
{
    border-radius: 20px;
    background-color: #F2F2F2;
    width : 70%;
    height: 500px;
    padding:10px;
}

#conteneur-vignettes-article
{
    display:flex;
    flex-flow: row wrap;
    height:500px;   
}

.vignette_hebergement
{
    width : 180px;
    height:180px;
    border-radius: 20px; 
    background-color: white;
    margin:5px;
}

.photo-hebergement

{
    width:170px ;
    height: auto ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

aside
{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #F2F2F2;
    width :30%;
    margin-left:5px;
    height: 500px;
}

#en-tete-pop
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pop
{
    width : 200px;
    height:120px;
    border-radius: 20px; 
    background-color: white;
    margin:20px;
    display: flex;
    flex-direction: row;
}

.photo-pop

{
     width:100px ;
     height: auto ;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
}


#activites
{
    height : 500px;
    width: 100%;
}

#conteneur-vignettes-activites 
{
    display: flex;
    flex-flow: column wrap;
    height:400px;
  
}
#port, #fort, #iles, #calanques, #Notre-Dame, #parc
{
    border-radius: 20px; 
    background-color: white;
    margin:10px;
}

    
#photo-port
{
    width:auto;
    height: 300px ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

#photo-fort
{
    width:200px;
    height: auto ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;  
}

#photo-iles
{
    width:200px ;
    height: auto ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;  
}

#photo-calanques
{
    width:auto ;
    height: 300px ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;  
}

#photo-notre-dame
{
    width:200px ;
    height: auto ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;   
}

#photo-parc
{
    width:200px ;
    height: auto ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}





/* Pied de page */
footer 
{
    background-color: #F2F2F2;   
	width: 100%;
}

.txt-footer
{
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding:15px;
}

div footer
{
	justify-content: space-around;
}