
/* Page entière*/
*
{
font-family:'Raleway', 'Arial', sans-serif;
}

body
{
margin:2%;	
}


h1
{
    font-size:20px;
    font-weight: bold;
    color:black;
}

h2
{
    font-size: 18px;
	font-weight: bold;
}

nav
{
	
font-size: 15px;	
	
}

h3
{
 font-size: 15px;
 color:black;
 font-weight: bold;
}

h4
{
font-size: 15px;
color:black;	   
}

h5
{
font-size: 15px;
color:black;	
	
}

p
{
    font-size: 14px;
}

input::placeholder 
{
  	font-size: 15px;
	color:black;
	font-weight: bold;
	padding-left:10px;
}

a
{
	font-family: 'Raleway', 'Arial', sans-serif;
	text-decoration: none;
	color: black;
}


/* En tête */

header
{
	display: flex;
	justify-content: space-between;
}


nav ul
{
    list-style-type: none;
    display: flex;
	margin-right:40px;
}

nav li
{
    padding:30px; 
}



nav a:link
{
    text-decoration: none; 
	color: black;
}

nav a:visited
{
    text-decoration: none; 
	color: black;
}

nav a:focus
{
color:#0065FC;	
border-top: solid #0065FC 2px;
padding:20px;
	
}

.texte-bleu
{
	color:#0065FC;
	font-weight: bold;
}


.barre-recherche
{
  	display: flex;
  	align-items: flex-start;
  	justify-content: flex-start;
}


#mapmarker
{ 
	  display: flex;
	  background-color: #F2F2F2 ;
	  height: 40px;
	  width: 40px;
	  border-radius: 15px 0px 0px 15px;
	  justify-content: center;
	  align-items: center;
}


#bouton-bleu
{
    border-radius:0px 15px 15px 0px;
	border:none;
    background-color: #0065FC;
	height: 40px;
    color:white;
    padding:0px 12px 0px 12px;   
}

#text
{
	height: 35px;
	border:solid 1px #F2F2F2;
}


.filtres
{
	display: flex;
	margin-top:30px;
	width: 70%;
	justify-content: space-between;
}



.bloc-filtre
{
	display: flex;
	justify-content: space-between;
	height: 40px;
	border:#F2F2F2 solid 2px;
	border-radius: 50px;
	font-weight: bold;
}

.texte-filtre
{
padding-right:10px;	
padding-left: 10px;
color:black;
font-size: 14px;	
}

.bloc-filtre:hover
{
	border:#0065FC solid 4px;	
}


.logo-filtre
{
display: flex;
border-radius:50px;	
background-color: #DEEBFF;
padding:5px;
height: 30px;
width: 30px;
align-items: center;
justify-content: center;
color:#0065FC;
}

#nbr-dispos
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 33%;
	margin-top:30px;
}

#logo-i
{
color: 	#0065FC;
border:#F2F2F2 solid 2px;
border-radius: 40px;
font-size:12px;
display: flex;
align-items: center;
justify-content: center;	
padding: 6px 9px 6px 9px;
}


/* contenu principal */

#main-content
{
    display : flex; 
	justify-content: space-between;
   
}

.hebergements-resultats
{
    border-radius: 20px;
    background-color: #F2F2F2;
    width : 65%;
	height: 650px;
}

#conteneur-hebergements-resultats
{

margin:20px;
	
}

#conteneur-vignettes-article
{
    display:flex;
    flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
    height:500px; 
}

.vignette_hebergement
{
    width: 238px;
	height:200px;
	border-radius: 10px;
	background-color: white;
	box-shadow:2px 2px 10px #d9d9d9;
	display:flex;
	flex-direction: column;
}

.photo-hebergement
 {
	width: 230px;
	height:110px;
	background-size: cover;
	background-position: bottom;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	margin:4px;	
	align-self: center;
}

#Cannebiere
{
	background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#Hotel-Port
{
	background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");	
}

#Hotel-Mouettes
{
	background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
#Hotel-Mer
{
	background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
	background-position:center;
}
#Auberge-Panier
{
	background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#Hotel-Amina
{
	background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
	background-position:center;
}

.ligne-etoiles
{
	display:flex;
    flex-direction: row;
	justify-content: flex-start;
}

.etoile-bleue
{
	  color: #0065FC ;
	  font-size:12px;
	  padding-right: 1px;
}
 	
.etoile-grise
{
	  color: #d9d9d9 ;
	  font-size:12px;
	  padding-right: 1px;
}


.descriptif-photo-hebergement
{
	
line-height: 5px;	
margin-left:15px;
}

aside
{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #F2F2F2;
    width :32%;
	height: 650px;	
}

#conteneur-aside
{
margin:20px;	
}

#en-tete-pop
{
	display: flex;
	width: 85%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: -15px;
}

#logo-fleche
{
	font-size: 15px;
}

#conteneur-pop
{
display:flex;	
flex-direction: column;
justify-content: space-around;
align-items: center;
height:550px;
width:320px;
margin-top:20px;
}

.pop
{
    
    height:140px;
	width : 330px;
    border-radius: 10px; 
    background-color: white;
    display: flex;
	justify-content: center;
	align-items: center;
	box-shadow:2px 2px 10px #d9d9d9;
}

.photo-txt-pop
{
    height:134px;
	width : 322px;
    display: flex;
	
}

.photo-pop

{
     height: 100% ;
	 width:40%;
	 background-size: cover;
	 background-position: center;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
	 align-self:center;
	
}

.descriptif-pop
{
	display: flex;
    flex-direction: column;
	justify-content: space-between;

	margin-left: 30px;
	height:100%;
}



#Hotel-Soleil
{
	background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

#Au-coeur-eau
{
	background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#Hotel-Bleu
{
	background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

article
{
    height : 470px;
	margin-top: 100px;
}

#conteneur-vignettes-activites 
{
    display: flex;
    flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
    height:400px;
	width : 100%;
}

.act
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	border-radius: 10px;
	box-shadow: 4px 4px 5px #F2F2F2;
	width: 260px;
}

#port
{
	background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg")	;
	width:260px ;
    height: 340px ;
	background-size: cover;	
	background-position: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	
}

#fort
{
	background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
	width:260px ;
    height: 140px ;
	background-size: cover;	
	background-position: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}


#iles
{
	background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
	width:260px ;
    height: 110px ;
	background-size: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#calanques
{
	background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg")	;
	width:260px ;
    height: 340px ;
	background-size: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#Notre-Dame
{
	background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
	width:260px ;
    height: 120px ;
	background-size: cover;	
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#parc
{
	background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
	width:260px ;
    height: 140px ;
	background-size: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.txt-activites
{
margin-left:15px;		
}


/* Pied de page */
footer 
{
    background-color: #F2F2F2;   
}

.txt-footer
{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 30px;
	padding:10px;	
}

.bloc-txt
{
display: flex;
flex-flow: column wrap;
font-size: 14px;
line-height: 30px;
}

/*VERSION TABLETTE*/

@media all and (min-width: 720px) and (max-width:1200px)
{
/* header Tablette */	

.filtres
{
	width: 100% ;
}	

/* Hebergements Tablette */	
	
#main-content
{
	flex-direction: column-reverse;
}	
	

	
#nbr-dispos
{
	width: 45%;
}

	
	
.hebergements-resultats
{  
	width: 100%;
	height:750px;
}

	#conteneur-vignettes-article

{
	height:650px;
}
	
aside
{
    display: inline;
	width:100%;
	flex-direction: row;
	height: 360px;
	margin-bottom: 20px;
}

	
#conteneur-pop
{

width:100%;
height:250px;
flex-direction: row;
margin-top:20px;
}

	.pop
{
    height:250px;
	width : 30%;
}	
	
.photo-txt-pop
{
	display: inline;
	justify-content: flex-start;
	height: 100%;
}
	
.descriptif-pop
{
	height:30%;		
}
	
.photo-pop
{
     height: 130px ;
	 width:100% ;
	 border-top-right-radius: 10px;
	 border-bottom-left-radius: 0px;
	 margin-left: 0px;
}
	
article
{
   height : 700px;
	margin-top: 50px;
}

#conteneur-vignettes-activites 
{
    display: flex;
    flex-flow: row wrap;
    height:450px;	
}

.act
{
	
	width: 280px;
	height: 210px;
}


#port, #fort, #iles, #calanques, #Notre-Dame, #parc
{

	width:280px ;
    height: 200px ;
}


	
}

/*VERSION SMARTPHONE*/

@media screen and (max-width: 719px) 
{
	

h1
{
    font-size:30px;
}

h2
{
    font-size: 28px;
	font-weight: bold;
}

nav
{	
font-size: 26px;		
}

h3
{
 font-size: 20px;
}

h4
{
font-size: 19px;   
}

h5
{
font-size: 18px;
}

p
{
    font-size: 17px;
}

input::placeholder 
{
  	font-size: 18px;
}

/* En tête */

header
{
	align-items: center;
	margin: 15px;
}
	
.ancres
{
    display: none;
}


.barre-recherche
{
  	justify-content: center;
}

.filtres
{
	margin-top:10px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

	
.bloc-filtre
{
	align-items: center;
	width:130px;
}

.texte-filtre
{
	font-size: 15px;	
}


#nbr-dispos
{
	width: 100%;
	margin-top:10px;
	justify-content: flex-start;
}


/* contenu principal */

#main-content
{
	flex-direction: column-reverse;
}

.hebergements-resultats
{
    
    background-color: #F2F2F2;
	margin-top: 20px;
    width : 100%;
	height: 850px;
}

#conteneur-hebergements-resultats
{

margin:20px;
height: 800px;	
}

#conteneur-vignettes-article
{
    height:700px; 
}

.vignette_hebergement
{
    width: 300px;
	height:200px;
}

.photo-hebergement
 {
	width: 286px;
	height:110px;
}


aside
{
    width :100%;
	height: 700px;	
}

#conteneur-aside
{
margin:0px;	
}

#en-tete-pop
{
	width: 100%;
}

#logo-fleche
{
	font-size: 20px;
}

#conteneur-pop
{
	height:600px;
	width:100%;
	margin-top:0px;
}

.pop
{
    height:140px;
	width :600px;
    
}

.photo-txt-pop
{
    height:134px;
	width : 600px;
}

.photo-pop

{  
	 width:60%;	 
}

.descriptif-pop
{
	justify-content: space-around;
}

article
{
   height : 700px;
	margin-top: 50px;
}

#conteneur-vignettes-activites 
{
    display: flex;
    flex-flow: row wrap;
    height:450px;	
}

.act
{
	
	width: 320px;
	height: 210px;
}


#port, #fort, #iles, #calanques, #Notre-Dame, #parc
{

	width:320px ;
    height: 200px ;
}
/* Pied de page */
footer 
{
    background-color: #F2F2F2; 
}

.txt-footer
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0px;
	padding:0px;	
}

.bloc-txt
{
display: flex;
flex-flow: column wrap;
align-items: center;
font-size: 14px;
line-height: 30px;
}	
	
}